input, select, button {
    padding: 5px;
    margin: 5px;
    width: 200px; 
}

select, button{
    width: 215px;
}

.button-login{
    background: #85C8FD;
    padding: 10px;
}

p{
    margin: 0px;
}
